@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Lato:wght@300&display=swap');

/* SETUP */

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 125%;
}

body {
  margin: 0
}

p {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block
}

/* h1 {
  font-size: 2em;
  margin: .67em 0
} */

figcaption,
figure,
main {
  display: block
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: inherit
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

dfn {
  font-style: italic
}

mark {
  background-color: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

audio,
video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

img {
  border-style: none
}

svg:not(:root) {
  overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  padding: .35em .75em .625em
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  display: inline-block;
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details,
menu {
  display: block
}

summary {
  display: list-item
}

canvas {
  display: inline-block
}

template {
  display: none
}

[hidden] {
  display: none
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* GLOBAL */

h1, 
h2, 
h3,
button {
  font-family: 'Josefin Sans', sans-serif;
}

p,
a,
label {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
  margin-bottom: 0;
  padding-top: 1.5rem;
}
p {
  font-size: 1.5rem;
}

a, button {
  cursor: pointer;
  text-decoration: none;
}
a {
  color: black;
}
a:visited {
  color: black;
}

ul {
  list-style: none;
}

header, footer {
  background-color: #EADBC4;
}
header {
  background-image: url('./assets/popcorn.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: .01rem;
  height: 100vh;
}

main {
background-color: rgb(171, 190, 186);;
}

.App {
  text-align: center;
}

.wrapper {
  width: 85%;
  margin: auto;
  max-width: 1431px;
}

/* NAV BAR */

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 0;
}

.houseIcon svg, .heartIcon svg {
  font-size: 4rem;
  color: #e0b22a;
}

.houseIcon:hover, .heartIcon:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

/* HEADER */

.header h1 {
  margin: 2rem;
}

.header h2 {
  margin-bottom: 2rem;
}

.headerFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SEARCH BAR */

.searchBar {
  background-color:#B3D5DF;
  padding-top: 5rem;
}


form {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

label {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 1rem;
}
input {
  text-align: center;
  margin: 1rem;
  height: 3rem;
  width: 15rem;
  background-color: #EADBC4;
  border: none;
}

.movieTitle {
  font-size: 2rem;
  margin-bottom: 5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.formFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 7%;
  background-color: transparent;
  border: none;
  margin-left: .75rem;
  margin-bottom: .5rem;
}

button img {
  width: 100%; 
}

.shuffleButton {
  background-color: #B3D5DF;
  width: 30%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-content: center;
  padding: 10px;
  margin-top: 2rem;
  box-shadow: 0 0 2px 2px #e0b22a;
}
.shuffleButton:hover {
  box-shadow: 0 0 5px 5px #e0b22a;
  transform: scale(1.1);
  transition: 0.3s;
}

/* DISPLAY GIFS */

.displayGifs {
  background-color:#ABBEBA;
}

.gifPic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gifFlex .gifArea {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem 1rem;
  justify-content: center;
}

.gifPic img {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 15px;
}

li {
  padding: 15px;
  height: 300px;
  width: 300px;
  margin-bottom: 40px;
}

.watchingImg img {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: -.2rem;
}

.giphyClick {
  width: 40%;
}

/* FOOTER */

footer p {
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
}
